<%- include('../front/header.ejs')%>
<section class="blog-detail mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-left">
                    <h1><%= d.title %></h1>
                    <div class="posted-on">
                        <p>by <span>RSGiTECH</span> on <span><%= d.createdAt.toLocaleDateString() %></span></p>
                    </div>
                    <div class="detail-img">
                       <img style="height: 426px; width:640px;" src="<%= d.image.url %>" alt="blog1" />
                    </div>
                    <div class="blog-desc">
                        <p style="text-align:justify ;margin-right: 88px;"><%= d.description%></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-right">
                    <div class="right-widget recent-post">
                        <h3>Recent Blogs</h3>
                   
                         <% r.forEach((itm)=>{ %>
                              <div class="rb-box">
                                <div class="rb-box-img">
                                    <img src="<%= itm.image.url %>" alt="blog1" />
                                </div>
                                <div class="rb-box-desc">
                                    <a href="/blogdetail/<%= itm._id %>"><h4><%= itm.title%></h4></a>
                                    <p>Posted On: <%= itm.createdAt.toLocaleDateString() %></p>
                                </div>
                            </div>
                            <%})%>
                        </a>
                    </div>
                     <div class="right-widget categories">
                         <h3>Categories</h3>
                         <ul>
                            <% c.forEach((item)=>{ %>
                                <li><a href="#"><%= item.title %></a></li>
                           <% }) %>
                        </ul>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../front/footer.ejs')%>